<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <h1>Bem-vindo ao seu programa de vendas online</h1>
    <main>
        <div class="menu">
            <div id="cadastro" class="quadrado">Cadastro</div>
            <div id="usuario" class="quadrado">Usuário</div>
            <!-- <div id="index" class="quadrado">index</div> -->
            <div id="login" class="quadrado">Login</div>
        </div>
    </main>
</body>

<script>
let cadastro = document.getElementById('cadastro')
let usuario = document.getElementById('usuario')
// let inden = document.getElementById('index')
let login = document.getElementById('login')

cadastro.addEventListener('click', function(){
 window.location.href="cadastro.html"
})
usuario.addEventListener('click', function(){
    window.location.href= 'usuario.html'
})
login.addEventListener('click', function(){
    window.location.href= 'login.html'
})



</script>
</html>