body{
    font-family:Arial,sans-serif;
    margin:0;
    padding:0;
    background: linear-gradient(90deg, rgba(0,36,14,0.8743872549019608) 4%, rgba(9,121,78,1) 50%, rgba(0,219,255,1) 100%);
    text-align: center; 
    align-items: center;
    justify-content: center;
    }
  
/* Definindo o estilo da classe menu, que envolve os quadrados */
.menu {
    display: grid;
    grid-template-columns: repeat(2, 180px); /* Define duas colunas */
    grid-gap: 20px; /* Espaçamento entre os quadrados */
    justify-content: center; /* Centraliza o conteúdo */
    margin-top: 20px;
}

/* Estilo para cada quadrado */
.quadrado {
    width: 180px;
    height: 180px;
    background-color:  #00dbff ; /* Cor do fundo */
    color: white; /* Cor do texto */
    display: flex;
    justify-content: center; /* Centraliza o texto horizontalmente */
    align-items: center; /* Centraliza o texto verticalmente */
    font-size: 18px;
    border-radius: 10px; /* Adiciona bordas arredondadas aos quadrados */
}
.quadrado:hover{
    background: linear-gradient(90deg, #00240edf 4%, #09794e 50%, #00dbff 100%);
}
   

    

        
   